<!-- Vendor CSS (Bootstrap & Icon Font) -->
<link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
<link rel="stylesheet" href="/css/vendor/fontawesome.min.css">
<link rel="stylesheet" href="/css/vendor/themify-icons.css">
<link rel="stylesheet" href="/css/vendor/customFonts.css">

<!-- Plugins CSS (All Plugins Files) -->
<link rel="stylesheet" href="/css/plugins/select2.min.css">
<link rel="stylesheet" href="/css/plugins/perfect-scrollbar.css">
<link rel="stylesheet" href="/css/plugins/swiper.min.css">
<link rel="stylesheet" href="/css/plugins/nice-select.css">
<link rel="stylesheet" href="/css/plugins/ion.rangeSlider.min.css">
<link rel="stylesheet" href="/css/plugins/photoswipe.css">
<link rel="stylesheet" href="/css/plugins/photoswipe-default-skin.css">
<link rel="stylesheet" href="/css/plugins/magnific-popup.css">
<link rel="stylesheet" href="/css/plugins/slick.css">

<!-- Main Style CSS -->
<!-- <link rel="stylesheet" href="assets/css/style.css"> -->

<!-- Use the minified version files listed below for better performance and remove the files listed above -->
<!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
<link rel="stylesheet" href="assets/css/plugins/plugins.min.css"> -->
<link rel="stylesheet" href="/css/style.css">

