<!-- Vendors JS -->
<script defer src="/js/vendor/modernizr-3.6.0.min.js"></script>
<script defer src="/js/vendor/jquery-3.4.1.min.js"></script>
<script defer src="/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script defer src="/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Plugins JS -->
<script defer src="/js/plugins/select2.min.js"></script>
<script defer src="/js/plugins/jquery.nice-select.min.js"></script>
<script defer src="/js/plugins/perfect-scrollbar.min.js"></script>
<script defer src="/js/plugins/swiper.min.js"></script>
<script defer src="/js/plugins/slick.min.js"></script>
<!--<script src="/js/plugins/mo.min.js"></script>-->
<script defer src="/js/plugins/jquery.ajaxchimp.min.js"></script>
<script defer src="/js/plugins/jquery.countdown.min.js"></script>
<script defer src="/js/plugins/imagesloaded.pkgd.min.js"></script>
<script defer src="/js/plugins/isotope.pkgd.min.js"></script>
<script defer src="/js/plugins/jquery.matchHeight-min.js"></script>
<script defer src="/js/plugins/ion.rangeSlider.min.js"></script>
<script defer src="/js/plugins/photoswipe.min.js"></script>
<script defer src="/js/plugins/photoswipe-ui-default.min.js"></script>
<script defer src="/js/plugins/jquery.zoom.min.js"></script>
<script defer src="/js/plugins/ResizeSensor.js"></script>
<script defer src="/js/plugins/jquery.sticky-sidebar.min.js"></script>
<script defer src="/js/plugins/product360.js"></script>
<script defer src="/js/plugins/jquery.magnific-popup.min.js"></script>
<script defer src="/js/plugins/jquery.scrollUp.min.js"></script>
<script defer src="/js/plugins/scrollax.min.js"></script>

<!-- Use the minified version files listed below for better performance and remove the files listed above -->
<!-- <script defer src="/js/vendor/vendor.min.js"></script>
ipt src="/js/plugins/plugins.min.js"></script> -->

<!-- Main Activation JS -->
<script defer src="/js/main.js"></script>
