{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<div class="blog">
    <div class="row learts-mb-n30">

        {{ if $featured_image }}
            <div class="col-xl-4 col-md-5 col-12 learts-mb-30">
                <div class="image mb-0">
                    <a href="{{ .RelPermalink }}"><img src="{{ $featured_image }}" alt="image from {{ .Title }}"></a>
                </div>
            </div>
        {{ end }}
        <div class="{{ if $featured_image }}col-xl-8 col-md-7 {{ end }}col-12 align-self-center learts-mb-30">
            <div class="content">
                <ul class="meta">
                    {{ if .Date }}
                        <li><i class="far fa-calendar"></i><a href="#">
                        {{ .Date | time.Format (default "2 January 2006" .Site.Params.date_format) }}
                        </a></li>
                    {{ end }}

                    {{/* <li><i class="far fa-eye"></i> 201 views</li> */}}
                </ul>
                <h5 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                <div class="desc">
                    <p>{{ .Summary  }}</p>
                </div>
                <a href="{{ .RelPermalink }}" class="link">Lire l'article</a>
            </div>
        </div>
    </div>
</div>
