{{ define "main" }}
    <!-- 404 Section Start -->
    <div class="section-404 section" data-bg-image="/images/bg/bg-404.webp">
        <div class="container">
            <div class="content-404">
                <h1 class="title">Oh la la !</h1>
                <h2 class="sub-title">Cette page n'existe pas</h2>
                <p>Vous pouvez devenir en arrière ou retourner sur l'accueil</p>
                <div class="buttons">
                    <a class="btn btn-primary btn-outline-hover-dark" href="javascript:history.back()">Revenir en arrière</a>
                    <a class="btn btn-dark btn-outline-hover-dark" href="/">Accueil</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 Section End -->
{{ end }}
